<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reinc.madera">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ListeClients"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">

            <!-- Parent activity meta-data to support Android 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".ClientDetails"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">

            <!-- Parent activity meta-data to support Android 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListeClients" />
        </activity>
        <activity
            android:name=".NouveauClient"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">

            <!-- Parent activity meta-data to support Android 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NouveauClient" />
        </activity>
        <activity android:name=".ProjectsList" />
        <activity
            android:name=".Connection"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:parentActivityName=".Connection"
            android:screenOrientation="landscape">

            <!-- Parent activity meta-data to support Android 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Connection" />
        </activity>
        <activity
            android:name=".Client"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">

            <!-- Parent activity meta-data to support Android 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".Projet"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">

            <!-- Parent activity meta-data to support Android 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".Devis"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">

            <!-- Parent activity meta-data to support Android 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".ListeDevis"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="landscape">

            <!-- Parent activity meta-data to support Android 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".DevisDetails"
            android:parentActivityName=".ListeDevis"
            android:screenOrientation="landscape">

            <!-- Parent activity meta-data to support Android 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListeDevis" />
        </activity>
    </application>

</manifest>